
body{
    font-family: Lato;
    font-weight: bold;
    background-image: url("images/simple.jpg");
    background-image: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 910px;
    background-color: rgb(240, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(27, 121, 153);

}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100px;
}

#login{
    padding: 10px 20px;
    width: 30px;
    border-radius: 10px;
    font-weight: bold; 
}
#login:hover{
    transform: scale(1.2);
} 

.fa-solid.fa-arrow-up-from-bracket:hover{
    transform: scale(1.2);
}

#star{
    width: 14em;
    height: 9em;
    padding-right: 40px;
}

#profile{
    width: 7em;
    height: 7em;
    border-radius: 100px;
}
header{
    height: 100px;
}
#username{
    height: 8px;
}

button{
    font-family: Lato;
    padding: 20px 70px;
    width: 380px;
    border: none;
    border-radius: 20px;
    background-color: rgb(151, 206, 224);
    font-weight: bold; 
    box-shadow: 0 6px 0 rgb(27, 121, 153);
    
}
button:hover{
    background-color: rgb(26, 176, 226);
    cursor: pointer;
}