body{
    font-family: Lato;
    font-weight: bold;
    background-image: url("images/simple.jpg");
    background-image: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    height: 910px;
    background-color: rgb(240, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(27, 121, 153);

}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100px;
}

#loginPage{
    text-decoration: none;
    color: black
}

input{
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgb(27, 121, 153);
}

.submit{
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    box-shadow: 0 3px 0 rgb(27, 121, 153);
}

.submit:hover{
    background-color: rgb(0, 180, 180);
    cursor: pointer;
}

#login{
    padding: 10px 20px;
    width: 30px;
    border-radius: 10px;
    font-weight: bold; 

}
#login:hover{
    transform: scale(1.2);
    cursor: pointer;
} 

.fa-solid.fa-arrow-up-from-bracket{
    padding-right: 20px;
}
.fa-solid.fa-arrow-up-from-bracket:hover{
    transform: scale(1.2);
}

#star{
    width: 14em;
    height: 9em;
    padding-right: 40px;
}

#profile{
    width: 7em;
    height: 7em;
    border-radius: 100px;
}
header{
    height: 100px;
}
#username{
    height: 8px;
}

button{
    font-family: Lato;
    color: black;
    padding: 20px 70px;
    width: 380px;
    border: none;
    border-radius: 20px;
    background-color: rgb(151, 206, 224);
    font-weight: bold; 
    box-shadow: 0 6px 0 rgb(27, 121, 153);
    
}
button:hover{
    background-color: rgb(26, 176, 226);
    cursor: pointer;
}
